/* COMMON */
#wrap {
    width: 100%;
}
.inner {
    width: 90%;
    margin: auto;
    position: relative;
    box-sizing: border-box;
}

.menu-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.menu-bg.show {
    display: block;
}

/* HEADER */
#header {
    width: 100%;
}

#header .inner {
    height: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 4rem;
}

#header h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header h1 img {
    width: 19rem;
}

/* 왼쪽 메뉴 */
#header .nav .gnb {
    display: flex;
}

#header .nav .gnb > li {
    margin-left: 6rem;
    font-size: 1.7rem;
    position: relative;
}

#header .nav .gnb > li::after {
    display: none;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #000;
    position: absolute;
    right: -1rem;
    top: 0;
    transition: 0.4s;
}

#header .nav .gnb > li:hover::after {
    display: block;
}

#header .nav .gnb li:first-child {
    margin-left: 0;
}

#header .nav .gnb .submenu {
    position: absolute;
    top: 4rem;
    background: #000;
    box-sizing: border-box;
    padding: 1.4rem 0;
    overflow: hidden;
    display: none;
}

#header .nav .gnb-m {
    display: none;
}

#header .nav .gnb li:nth-of-type(1) > ul {
    width: 150px;
    left: -45px;
}

#header .nav .gnb li:nth-of-type(3) > ul {
    width: 180px;
    left: -20px;
}

#header .nav .gnb .submenu li {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#header .nav .gnb .submenu li:last-child {
    margin-bottom: 0;
}

#header .nav .gnb li > ul > li:hover a {
    color: #9e9e9e;
}

#header .nav .gnb li > ul > li > a {
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

/* 오른쪽 메뉴 */

#header .mypage {
    display: none;
}

#header .right-menu {
    display: flex;
}

#header .right-menu li {
    margin-left: 30px;
    cursor: pointer;
}

#header .right-menu li:first-child {
    margin-left: 0;
}

#header .right-menu li img {
    width: 25px;
}

/* 모바일 메뉴바 */
#header .all-menu {
    width: 30px;
    height: 25px;
    padding: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 200;
}

#header .all-menu span {
    display: block;
    width: 35px;
    height: 1.5px;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

#header .all-menu .line01 {
    top: 1px;
}

#header .all-menu .line02 {
    top: 13px;
}

#header .all-menu .line03 {
    top: 25px;
}

#header .all-menu.active .line02 {
    transform: scaleX(0);
}

#header .all-menu.active .line01 {
    transform: rotate(45deg);
    transform-origin: left top;
    left: 5px;
}

#header .all-menu.active .line03 {
    transform: rotate(-45deg);
    transform-origin: left bottom;
    left: 5px;
}

/* VISUAL */
#visual {
    width: 100%;
}

#visual .inner {
    height: 86rem;
}

#visual .main-banner img {
    width: 60rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#visual .main-banner h2 {
    font-size: 12.8rem;
    font-weight: 700;
    color: #d0c9c0;
    position: absolute;
    left: 50%;
    top: 30rem;
    transform: translateX(-50%);
    white-space: nowrap;
}

#visual .main-banner .left-txt {
    position: absolute;
    left: 0;
    top: 10rem;
    text-align: left;
    font-size: 2rem;
}

#visual .main-banner .left-txt::before {
    display: block;
    content: "";
    width: 5.5rem;
    height: 0.2rem;
    background: #000;
    position: absolute;
    left: 0;
    top: -1.5rem;
}

#visual .main-banner .right-txt {
    position: absolute;
    right: 0;
    bottom: 10rem;
    text-align: right;
    font-size: 2rem;
}

#visual .main-banner .right-txt::before {
    display: block;
    content: "";
    width: 5.5rem;
    height: 0.2rem;
    background: #000;
    position: absolute;
    right: 0;
    top: -1.5rem;
}

/* CONTENT */
.main .con h2 {
    font-size: 3.8rem;
    font-weight: 700;
}

/* CONTENT 1 */
.main .collection {
    width: 100%;
}

.main .collection .inner {
    height: 94rem;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .collection h2 {
    font-size: 9.6rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 5rem;
}

.main .collection ul {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main .collection ul li {
    position: relative;
    width: 33rem;
}

.main .collection ul li:hover a span {
    opacity: 1;
}

.main .collection ul li a {
    text-align: center;
}

.main .collection ul li a img {
    width: 22rem;
}

.main .collection ul li a h3 {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.main .collection ul li a p {
    font-size: 1.8rem;
}

.main .collection ul li a span {
    position: absolute;
    left: 50%;
    top: 17rem;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s;
}

.main .collection ul li a span img {
    width: 16rem;
}

/* CONTENT 2 */
.main .product-list {
    width: 100%;
}

.main .product-list .inner {
    height: 74rem;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .product-list .pro-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main .product-list .pro-list > li {
    font-size: 4rem;
    font-weight: 600;
    color: #9e9e9e;
    margin-right: 7rem;
    cursor: pointer;
}

.main .product-list .pro-list li:last-of-type {
    margin-right: 0;
}

.main .product-list .pro-list li.product-on {
    color: #000;
}

.main .product-list .product {
    width: 100%;
    display: none;
    justify-content: space-between;
}

.main .product-list .product.show-product {
    display: flex;
}

.main .product-list .product li {
    width: 28.5rem;
    position: relative;
}

.main .product-list .product li a {
    text-align: center;
}

.main .product-list .product li a img {
    width: 16rem;
}

.main .product-list .product:last-of-type li a img {
    width: 15rem;
}

.main .product-list .product li a p {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 5rem;
}

.main .product-list .product li a p:nth-of-type(2) {
    margin-bottom: 2rem;
}

.main .product-list .product li a p:nth-of-type(3) {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.main .product-list .product li a span {
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.main .product-list .product li a span:last-of-type {
    margin-right: 0;
}

.main .product-list .product li:hover p {
    opacity: 1;
}

.main .product-list .product .purchase {
    position: absolute;
    left: 50%;
    top: 12rem;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.main .product-list .product:last-of-type .purchase {
    position: absolute;
    left: 50%;
    top: 11rem;
    transform: translateX(-50%);
}

.main .product-list .product .purchase > img {
    width: 13rem;
}

/* CONTENT 3 */
.main .candle {
    width: 100%;
    background: rgb(207, 206, 178, 0.6);
}

.main .candle .inner {
    height: 70rem;
    overflow: hidden;
    padding: 5rem 0;
}

.main .candle .left-txt h2 {
    font-size: 9.6rem;
}

.main .candle .left-txt p {
    font-size: 1.8rem;
    margin-left: 0.5rem;
}

.main .candle .right-txt {
    position: absolute;
    right: 0;
    top: 26rem;
    z-index: 10;
}

.main .candle .right-txt::before {
    display: block;
    content: "";
    width: 5.5rem;
    height: 0.2rem;
    background: #000;
    position: absolute;
    right: 0;
    top: -1.5rem;
}

.main .candle .right-txt p {
    font-size: 1.8rem;
    text-align: right;
}

.main .candle .candle-img {
    position: absolute;
    left: 50%;
    bottom: -15rem;
    transform: translateX(-50%);
    z-index: 5;
}

.main .candle .candle-img:hover a {
    opacity: 1;
    cursor: pointer;
}

.main .candle img {
    width: 42rem;
}

.main .candle .candle-img a {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}

.main .candle .candle-img a img {
    width: 18rem;
    height: 18rem;
}

.main .candle .flower {
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.main .candle .flower1 {
    left: 10rem;
    bottom: 10rem;
}

.main .candle .flower1 img {
    width: 25rem;
}

.main .candle .flower2 {
    left: 20rem;
    bottom: -30rem;
}

.main .candle .flower3 {
    right: -84rem;
    top: -39rem;
}

.main .candle .flower3 img {
    width: 25rem;
}

.main .candle .candle-img:hover .flower {
    opacity: 1;
}

.main .candle .candle-img:hover .flower1 {
    left: -15rem;
    bottom: 16rem;
}

.main .candle .candle-img:hover .flower2 {
    left: 30rem;
    bottom: 16rem;
}

.main .candle .candle-img:hover .flower3 {
    right: -60rem;
    top: -40rem;
}

/* CONTENT 4 */
.main .service .inner {
    height: 83rem;
    padding: 0;
}

.main .service .sv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .service .left-img img {
    width: 37.5rem;
    height: 57rem;
}

.main .service .center {
    width: 48rem;
    height: 83rem;
    border-left: 3px solid #d0c9c0;
    border-right: 3px solid #d0c9c0;
    text-align: center;
}

.main .service .center h3 {
    padding-top: 10rem;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 9rem;
}

.main .service .center ul li {
    margin-bottom: 5rem;
}

.main .service .center ul li span {
    font-size: 3rem;
    font-weight: 500;
}

.main .service .center ul li p {
    font-size: 2rem;
    margin-top: 2rem;
}

.main .service .right-img img {
    width: 37.5rem;
    height: 57rem;
}

/* FOOTER */
#footer {
    width: 100%;
    border-top: 0.3rem solid #d0c9c0;
}

#footer .inner {
    padding: 5rem 0;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#footer h2 a img {
    width: 20rem;
    height: 12rem;
}

#footer .foot1 {
    width: 50%;
}

#footer .foot1 .list {
    display: flex;
}

#footer .foot1 .list > li {
    margin-right: 5rem;
    width: 14rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

#footer .foot1 .list > li:last-of-type {
    margin-right: 0;
}

#footer .foot1 .list > li > ul > li > a {
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
}

#footer .foot1 .list > li > ul > li a::after {
    display: none;
    content: "";
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background: #000;
    position: absolute;
    right: -0.8rem;
    top: -0.2rem;
}

#footer .foot1 .list > li > ul > li a:hover::after {
    display: block;
}

#footer .foot2 p {
    font-size: 1.4rem;
    margin-bottom: 6rem;
    text-align: right;
}

#footer .foot2 p span {
    line-height: 1.6;
    text-align: right;
    display: block;
}

#footer .foot2 p:last-child {
    color: #757575;
}

